.donate {
  padding-top: 60px;

  .buttons {
    padding: 8px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    a {
      padding: 8px 16px;
    }
  }
}