<mat-toolbar>
  <img src="./assets/icon.png" alt="icon" width="37.64" height="40" draggable="false">

  <span>
    {{ mode }}
  </span>

  <mat-button-toggle-group *ngIf="mode === 'aligner'">
    <mat-button-toggle (click)="tools.aligner.tops()">
      Tops
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.aligner.lefts()">
      Lefts
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.aligner.rights()">
      Rights
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.aligner.bottoms()">
      Bottoms
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.aligner.absoluteCenters()">
      Absolute Centers
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.aligner.verticalCenters()">
      Vertical Centers
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.aligner.horizontalCenters()">
      Horizontal Centers
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'grid'">
    <mat-button-toggle (click)="tools.grid.enable()">
      Enable
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.grid.disable()">
      Disable
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.grid.snap()">
      Snap
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.grid.unsnap()">
      Unsnap
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'grouper'">
    <mat-button-toggle (click)="tools.grouper.group()">
      Group
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.grouper.ungroup()">
      Ungroup
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'momento'">
    <mat-button-toggle value="undo">
      Undo
    </mat-button-toggle>
    <mat-button-toggle value="redo">
      Redo
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'ruler'">
    <mat-button-toggle (click)="tools.ruler.enable()">
      Enable
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.ruler.disable()">
      Disable
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.ruler.removeXTicks()">
      Remove X Ticks
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.ruler.removeYTicks()">
      Remove Y Ticks
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.ruler.removeAllTicks()">
      Remove All Ticks
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'select'">
    <mat-button-toggle (click)="tools.select.all()">
      All
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.select.enable()">
      Enable
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.select.disable()">
      Disable
    </mat-button-toggle>
    <mat-button-toggle (click)="tools.select.unselect()">
      Unselect
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'button'">
    <mat-button-toggle value="button">
      Button
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'circle'">
    <mat-button-toggle value="circle">
      Circle
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'cubic-bezier-curve'">
    <mat-button-toggle value="cubic-bezier-curve">
      Cubic Bezier Curve
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'ellipse'">
    <mat-button-toggle value="ellipse">
      Ellipse
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'elliptical-curve'">
    <mat-button-toggle value="elliptical-curve">
      Elliptical Curve
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'line'">
    <mat-button-toggle value="line">
      Line
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'polygon'">
    <mat-button-toggle value="polygon">
      Polygon
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'polyline'">
    <mat-button-toggle value="polyline">
      Polyline
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'quadratic-bezier-curve'">
    <mat-button-toggle value="quadratic-bezier-curve">
      Quadratic Bezier Curve
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'range'">
    <mat-button-toggle value="range">
      Range
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'rectangle'">
    <mat-button-toggle value="rectangle">
      Rectangle
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'table'">
    <mat-button-toggle value="table">
      Table
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'text'">
    <mat-button-toggle value="text">
      Text
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'vector'">
    <mat-button-toggle value="vector">
      Vector
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'chart-area'">
    <mat-button-toggle value="area">
      Area
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'chart-bar'">
    <mat-button-toggle value="bar">
      Bar
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'chart-column'">
    <mat-button-toggle value="column">
      Column
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'chart-donut'">
    <mat-button-toggle value="donut">
      Donut
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'chart-line'">
    <mat-button-toggle value="line">
      Line
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="mode === 'chart-pie'">
    <mat-button-toggle value="pie">
      Pie
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tools
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item matRipple (click)="SetExampleMode('aligner')">
            Aligner
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('grid')">
            Grid
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('grouper')">
            Grouper
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('momento')">
            Momento
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('ruler')">
            Ruler
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('select')">
            Select
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Shapes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item matRipple (click)="SetExampleMode('button')">
            Button
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('circle')">
            Circle
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('cubic-bezier-curve')">
            Cubic Bezier Curve
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('ellipse')">
            Ellipse
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('elliptical-curve')">
            Elliptical Curve
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('line')">
            Line
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('polygon')">
            Polygon
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('polyline')">
            Polyline
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('quadratic-bezier-curve')">
            Quadratic Bezier Curve
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('range')">
            Range
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('rectangle')">
            Rectangle
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('table')">
            Table
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('text')">
            Text
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('vector')">
            Vector
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Charts
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item matRipple (click)="SetExampleMode('chart-area')">
            Area
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('chart-bar')">
            Bar
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('chart-column')">
            Column
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('chart-donut')">
            Donut
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('chart-line')">
            Line
          </mat-list-item>
          <mat-list-item matRipple (click)="SetExampleMode('chart-pie')">
            Pie
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>

  <mat-drawer-content>
    <div id="demo"></div>
  </mat-drawer-content>
</mat-drawer-container>