* {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
body {
  margin: 0px;
}
#ngx-container::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  z-index: 10;
}
#ngx-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  margin-left: 15px;
}
#ngx-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}